Flask==0.10.1
Flask-LogConfig==0.4.1
Flask-Script==2.0.5
Jinja2==2.7.3
logconfig==0.4.0
logutils==0.3.3
MarkupSafe==0.23
plotly==1.6.17
progressbar33==2.4
pytz==2015.4
PyYAML==3.11
requests==2.7.0
six==1.9.0
Werkzeug==0.10.4
itsdangerous==0.24
