{% extends "layout.html" %}
{% block content %}
    <h1>WSDOT Traffic Information</h1>
    <div>
        <h3>Available Routes</h3>
        <table class="center">
            <tr>
                <th class="t05">ID</th>
                <th class="t05">Current</th>
                <th class="t05">Average</th>
                <th class="t30">Name</th>
                <th class="t40">Description</th>
                <th class="t15">Updated</th>
            </tr>
            {% for route in routes.values()|sort(attribute='id') %}
            <tr>
                <td class="t05 center">{{ route['id'] }}</td>
                <td class="t05 center">{{ route['current'] }}</td>
                <td class="t05 center">{{ route['average'] }}</td>
                <td class="t30">{{ route['name'] }}</td>
                <td class="t40">{{ route['description'] }}</td>
                <td class="t15 center">{{ route['update_time'] }}</td>
            </tr>
            {%  endfor %}
        </table>
    </div>
{% endblock %}